<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LibertyUI Premium Admin Dashboard </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../../assets/backend/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../../assets/backend/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../../assets/backend/vendors/css/vendor.bundle.addons.css">
  <!-- <! endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../assets/backend/css/style.css">
  <link rel="stylesheet" href="../../../assets/backend/css/custom.css">
  <link rel="stylesheet" href="../../../assets/backend/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
  <link href="../../../assets/backend/css/pagination.css" rel="stylesheet" type="text/css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../assets/backend/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
      <div class="container d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top">
          <a class="navbar-brand brand-logo" href="">
            <img src="../../../assets/backend/images/logo-inverse.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="">
            <img src="../../../assets/backend/images/logo-mini.svg" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <form class="search-field ml-auto" action="#">
            <div class="form-group mb-0">
              <div class="input-group">
                <div class="input-group-prepend">
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav navbar-nav-right mr-0">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="../../../assets/backend/images/faces/face1.jpg" alt="Profile image">
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item mt-2" id="feName">
                </a>
                <a class="dropdown-item" id="log-out" onclick="LogOut()">
                  Đăng xuất
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </div>
      <div class="nav-bottom">
        <div class="container">
          <ul class="nav page-navigation">
            <li class="nav-item">
              <a href="#home-5-1" class="nav-link active" role="tab" aria-controls="home-5-1" aria-selected="true" id="tab-5-1" data-toggle="tab">
                <i class="link-icon mdi mdi-television"></i>
                <span class="menu-title">Quản lý khóa học</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-5-2" data-toggle="tab" href="#profile-5-2" role="tab" aria-controls="profile-5-2" aria-selected="false">
                <i class="link-icon mdi mdi-apple-safari"></i>
                <span class="menu-title">Quản lý người dùng</span>
              </a>
            </li>
            <li class="nav-item mega-menu">
              <a class="nav-link" d="tab-5-3" data-toggle="tab" href="#contact-5-3" role="tab" aria-controls="contact-5-3" aria-selected="false">
                <i class="link-icon mdi mdi-atom"></i>
                <span class="menu-title">Ghi danh học viên</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card card-statistics">
                <div class="row">
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                        <i class="mdi mdi-account-multiple-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                        <div class="wrapper text-center text-sm-left">
                          <p class="card-text mb-0">Total Users</p>
                          <div class="fluid-container">
                            <h3 class="card-title mb-0" id="totalUser" style="text-align: center"></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                        <i class="mdi mdi-checkbox-marked-circle-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                        <div class="wrapper text-center text-sm-left">
                          <p class="card-text mb-0">Courses</p>
                          <div class="fluid-container">
                            <h3 class="card-title mb-0" id="totalCourse" style="text-align: center"></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                        <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                        <div class="wrapper text-center text-sm-left">
                          <p class="card-text mb-0">Total Students</p>
                          <div class="fluid-container">
                            <h3 class="card-title mb-0" id="totalStudent" style="text-align: center"></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                        <i class="mdi mdi-target text-primary mr-0 mr-sm-4 icon-lg"></i>
                        <div class="wrapper text-center text-sm-left">
                          <p class="card-text mb-0">Total Review</p>
                          <div class="fluid-container">
                            <h3 class="card-title mb-0" id="totalReview" style="text-align: center"></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End partial -->
          <div class="tab-content tab-content-solid">
            <div class="tab-pane fade show active" id="home-5-1" role="tabpanel" aria-labelledby="tab-5-1">
              <div class="row">
                <div class="col-12 text-left">
                  <button type="button" class="btn btn-primary btn-fw" style="margin-bottom: 25px;" id="btnShowAdd">Thêm mới</button>
                </div>
              </div>
              <div class="row" id="divTable">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="table-responsive">
                      <table class="table center-aligned-table" id="grdTable">
                        <thead>
                        </thead>
                        <tbody id="pagination-demo1">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="containerAdd">
                <div class="col-md-6 grid-margin stretch-card" style="margin: 0 auto;">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Thêm mới</h4>
                      <p class="card-description">
                        Khóa học
                      </p>
                      <form class="forms-sample">
                        <div class="form-group">
                          <label for="txtMaKhoaHoc">Mã khóa học</label>
                          <input type="text" class="form-control" id="txtMaKhoaHoc" name="txtMaKhoaHoc" placeholder="Mã khóa học">
                        </div>
                        <div class="form-group">
                          <label for="txtTenKhoaHoc">Tên khóa học</label>
                          <input type="text" class="form-control" id="txtTenKhoaHoc" placeholder="Tên khóa học">
                        </div>
                        <div class="form-group">
                          <label for="image">Link hình ảnh</label>
                          <input type="text" class="form-control" id="txtHinhAnh" name="image" placeholder="http://sv.myclass.vn/xxx.jpg">
                        </div>
                        <div class="form-group">
                          <label for="txtMoTa">Mô tả chi tiết</label>
                          <textarea class="form-control" id="txtMoTa" rows="4" placeholder="Nhập mô tả khóa học">Learn how to easily build single-page web applications using this popular JavaScript framework. ... Continue your learning by starting with Learn Javascript</textarea>
                        </div>
                        <button type="button" class="btn btn-success" id="btn-submit">Thêm mới</button>
                        <button type="button" class="btn btn-light" id="btn-cancel">Hủy</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- edit course -->
              <div class="row" id="containerEdit">
                <div class="col-md-6 grid-margin stretch-card" style="margin: 0 auto;">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Chỉnh sửa</h4>
                      <p class="card-description">
                        Khóa học
                      </p>
                      <form class="forms-sample" id="formEdit">
                        <div class="form-group">
                          <label for="txtMaKhoaHoc">Mã khóa học</label>
                          <input type="text" disabled class="form-control" id="txtMaKhoaHocEdit" name="txtMaKhoaHoc" placeholder="Mã khóa học">
                        </div>
                        <div class="form-group">
                          <label for="txtTenKhoaHoc">Tên khóa học</label>
                          <input type="text" class="form-control" id="txtTenKhoaHocEdit" placeholder="Tên khóa học">
                        </div>
                        <div class="form-group">
                          <label for="txtMoTa">Mô tả chi tiết</label>
                          <textarea class="form-control" id="txtMoTaEdit" rows="4" placeholder="Nhập mô tả khóa học">Learn how to easily build single-page web applications using this popular JavaScript framework. ... Continue your learning by starting with Learn Javascript</textarea>
                        </div>
                        <button type="button" class="btn btn-success" id="btn-edit">Thực hiện</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-edit">Hủy</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--end edit course -->
            </div>
            <div class="tab-pane fade" id="profile-5-2" role="tabpanel" aria-labelledby="tab-5-2">
              <div class="row">
                <div class="col-12 text-left">
                  <button type="button" class="btn btn-primary btn-fw" style="margin-bottom: 25px;" id="btnShowAddUser">Thêm mới</button>
                </div>
              </div>
              <div class="row" id="divTableUser">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="table-responsive">
                      <table class="table center-aligned-table" id="grdTableUser">
                        <thead>
                        </thead>
                        <tbody id="pagination-user">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- add user -->
              <div class="row" id="containerAddUser">
                <div class="col-md-6 grid-margin stretch-card" style="margin: 0 auto;padding-bottom: 50px;">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Thêm mới</h4>
                      <p class="card-description">
                        Người dùng
                      </p>
                      <form class="forms-sample" id="formEditUser">
                        <div class="form-group">
                          <label for="txtTaiKhoan">Tài khoản</label>
                          <input type="text" class="form-control" id="txtTaiKhoan" name="txtTaiKhoan" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                          <label for="txtpassword">Mật khẩu</label>
                          <input type="password" class="form-control" id="txtpassword" name="txtpassword" placeholder="******">
                        </div>
                        <div class="form-group">
                          <label for="txtpasswordConfirm">Nhập lại mật khẩu</label>
                          <input type="password" class="form-control" id="txtpasswordConfirm" onchange="validatePassword()" name="txtpasswordConfirm"
                            placeholder="******">
                        </div>
                        <div class="form-group">
                          <label for="txtHoTen">Họ tên</label>
                          <input type="text" class="form-control" id="txtHoTen" name="txtHoTen" placeholder="Họ Tên">
                        </div>
                        <div class="form-group">
                          <label for="txtPhoneNumber">Số điện thoại</label>
                          <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                          <label for="txtEmail">Email</label>
                          <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email">
                        </div>

                        <div class="form-group">
                          <label for="txtHoTen">Loại tài khoản</label>
                          <select class="form-control" id="slJob">
                            <option value="HV" selected>Học viên</option>
                            <option value="GV">Giảng viên</option>
                          </select>
                        </div>
                        <button type="button" class="btn btn-success" id="btn-submit--user">Thực hiện</button>
                        <button type="button" class="btn btn-light" id="btn-cancel--user">Hủy</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end add user -->
              <!-- edit user -->
              <div class="row" id="containerEditUser">
                <div class="col-md-6 grid-margin stretch-card" style="margin: 0 auto; padding-bottom: 50px;">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Chỉnh sửa</h4>
                      <p class="card-description">
                        Người dùng
                      </p>
                      <form class="forms-sample">
                        <div class="form-group">
                          <label for="txtTaiKhoanEdit">Tài khoản</label>
                          <input type="text" disabled class="form-control" id="txtTaiKhoanEdit" name="txtTaiKhoan" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                          <label for="txtpasswordEditNew">Mật khẩu mới</label>
                          <input type="password" class="form-control" id="txtpasswordEditNew" name="txtpassword" placeholder="******">
                        </div>
                        <div class="form-group">
                          <label for="txtpasswordConfirmEditNew">Nhập lại mật khẩu mới</label>
                          <input type="password" class="form-control" id="txtpasswordConfirmEditNew" onchange="validatePasswordEdit()" name="txtpasswordConfirm"
                            placeholder="******">
                        </div>
                        <div class="form-group">
                          <label for="txtHoTenEdit">Họ tên</label>
                          <input type="text" class="form-control" id="txtHoTenEdit" name="txtHoTen" placeholder="Họ Tên">
                        </div>
                        <div class="form-group">
                          <label for="txtPhoneNumberEdit">Số điện thoại</label>
                          <input type="text" class="form-control" id="txtPhoneNumberEdit" name="txtPhoneNumber" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                          <label for="txtEmailEdit">Email</label>
                          <input type="email" class="form-control" id="txtEmailEdit" name="txtEmail" placeholder="Email">
                        </div>

                        <div class="form-group">
                          <label for="slJobEdit">Loại tài khoản</label>
                          <select class="form-control" id="slJobEdit">
                            <option value="HV">Học viên</option>
                            <option value="GV">Giảng viên</option>
                          </select>
                        </div>
                        <button type="button" class="btn btn-success" id="btn-edit--user">Thực hiện</button>
                        <button type="button" class="btn btn-light" id="btn-cancel--edit--user">Hủy</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end edit user -->
            </div>
            <div class="tab-pane fade" id="contact-5-3" role="tabpanel" aria-labelledby="tab-5-3">
              <div class="row">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">&nbsp; Ghi danh học viên</h4>
                      <form id="example-vertical-wizard" action="#">
                        <div>
                          <h3>Chọn tài khoản</h3>
                          <section>
                            <h6>Tài khoản</h6>
                            <div class="form-group">
                              <label for="account">Học viên</label>
                              <select class="form-control" id="account" onchange="getval(this);">
                                <option value="-1" selected="true" disabled="disabled">-- Chọn tài khoản --</option>
                              </select>
                            </div>
                          </section>
                          <h3>Chọn khóa học</h3>
                          <section>
                            <h6>Khóa học</h6>
                            <div class="form-group">
                              <label for="account">Khóa học</label>
                              <select class="form-control" id="course" onchange="seletedCourse(this)">
                                <option value="-1" selected="true" disabled="disabled">-- Chọn khóa học --</option>
                              </select>
                            </div>
                          </section>
                          <h3>Hoàn tất</h3>
                          <section>
                            <h6>Hoàn tất</h6>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox" name="chkYes" id="chkYes" onchange="showFinish()"> Đồng ý với các quy định và điều khoản của trung tâm.
                              </label>
                            </div>
                          </section>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="divDetail">
              <div class="col-lg-12">
                <div class="card px-2">
                  <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between">
                      <div class="col-lg-3 pl-0">
                        <p class="mt-5 mb-2">
                          <b>LibertyUI</b>
                        </p>
                        <p>
                          <span id="txtTaiKhoanDetail"></span>,
                          <br>
                          <span id="txtHoTenDetail"></span>,
                          <br>
                          <span id="txtEmailDetail"></span>
                          <br>
                        
                        </p>
                      </div>
                      <div class="col-lg-3 pr-0">
                        <p class="mt-5 mb-2 text-right">
                          <b>Register By</b>
                        </p>
                        <p class="text-right">Gaala & Sons Center,
                          <br> 5 Sư vạn hạnh,
                          <br> Phường 3, Quận 5 Tp.HCM</p>
                      </div>
                    </div>
                    <div class="container-fluid d-flex justify-content-between">
                      <div class="col-lg-3 pl-0">
                        <p class="mb-0 mt-3" id="txtLoaiNguoiDung"></p>
                        <p><span id="txtPhoneNumber123"></span></p>
                      </div>
                    </div>
                    <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                      <div class="table-responsive w-100">
                        <table class="table" id="tableDetailUser">
                          <thead>
                            <tr class="bg-light">
                              <th>#</th>
                              <th>Mã khóa học</th>
                              <th class="text-right">Tên khóa học</th>
                              <th class="text-right">Giáo vụ</th>
                              <th class="text-right">Ngày ghi danh</th>
                            </tr>
                          </thead>
                          <tbody id="containerDetailUser">
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="container-fluid mt-5 w-100">
                      <p class="text-right mb-2"></p>
                      <p class="text-right"></p>
                      <hr>
                    </div>
                    <div class="container-fluid w-100">
                      <a href="#" class="btn btn-success float-right mt-4">
                        <i class="mdi mdi-telegram mr-1" id="come-back"></i>Quay lại</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../../assets/backend/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/backend/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../../../assets/backend/js/template.js"></script>
    <script src="../../../assets/backend/js/wizard.js"></script>
    <script src="../../../assets/backend/js/tooltips.js"></script>
    <script src="../../../assets/backend/js/popover.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="../../../assets/backend/js/pagination.js"></script>
    <script src="../../constant/constant.js"></script>
    <script src="../../../assets/backend/js/dashboard.js"></script>
    <script src="../../services/userServices.js"></script>
    <script src="../../../app/services/course.js"></script>
    <script src="../../../app/model/listCourses.js"></script>
    <script src="../../../app/model/listUser.js"></script>
    <script src="../../../app/model/user.js"></script>
    <script src="../../services/courseService.js"></script>

    <script src="../../../app/model/detaiCourse.js"></script>
    <script src="../../controller/dashboard.js"></script>
    <script src="../../../assets/backend/js/jquery.alertable.min.js"></script>
    <script src="../../../assets/frontend/js/notify.js"></script>
    <script src="../../../assets/frontend/js/aes.js"></script>



</body>

</html>